<div class="container">
  <div class="banner">
    <%= image_tag("linda.gif", id: "linda") %>
    <%= image_tag("grandpa.gif", id: "grandpa") %>
    <h1 id="ey-mark">EyeSavers</h1>
    <h2 id="ey-tagline"> Weekly tech news podcast for busy people</h2>
    <a href="#" id="main-lst-btn"> Listen Now !</a>
  </div>
</div>
